@import 'tailwindcss';

/* Reset default margin */
body,
html {
  margin: 0;
  padding: 0;
}

@plugin "daisyui" {
  /* themes:
    light --default,
    dark --prefersdark; */
  themes: all;
}

@plugin "daisyui/theme" {
  name: 'dark';
  default: false;
  prefersdark: false;
  color-scheme: 'dark';
  --color-base-100: oklch(13% 0.028 261.692);
  --color-base-200: oklch(21% 0.034 264.665);
  --color-base-300: oklch(27% 0.033 256.848);
  --color-base-content: oklch(96% 0.003 264.542);
  --color-primary: oklch(84% 0.238 128.85);
  --color-primary-content: oklch(27% 0.072 132.109);
  --color-secondary: oklch(70% 0.165 254.624);
  --color-secondary-content: oklch(28% 0.091 267.935);
  --color-accent: oklch(79% 0.209 151.711);
  --color-accent-content: oklch(26% 0.065 152.934);
  --color-neutral: oklch(27% 0.033 256.848);
  --color-neutral-content: oklch(98% 0.002 247.839);
  --color-info: oklch(71% 0.143 215.221);
  --color-info-content: oklch(98% 0.019 200.873);
  --color-success: oklch(70% 0.14 182.503);
  --color-success-content: oklch(98% 0.014 180.72);
  --color-warning: oklch(76% 0.188 70.08);
  --color-warning-content: oklch(98% 0.022 95.277);
  --color-error: oklch(64% 0.246 16.439);
  --color-error-content: oklch(96% 0.015 12.422);
  --radius-selector: 0.5rem;
  --radius-field: 0.25rem;
  --radius-box: 0.5rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 1;
  --noise: 0;
}

/* Use inner content scrolling; disable body scroll to remove extra scrollbar */
html,
body,
#app {
}

/* Make sure modal overlays don't permanently block scrolling when removed */
.modal-backdrop {
  pointer-events: auto;
}
